In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.interpolate import interp1d
import clean_up as cln

In [2]:
# import "Annual_Parking_Study_Data" to creat 'pkdt' dataframe
# read data
col_names = ['Date Time','Unitdesc','Side', 'Parking_Spaces', 'Total_Vehicle_Count', 'Construction', 'Event Closure']
pkdt = cln.read_data(r'.\raw_data\Annual_Parking_Study_Data.csv', col_names)
pkdt = pkdt.dropna()

C:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [3]:
#filter the data with 'Construction' and 'Event' column are "No"
values = ['Yes', 'yes', 'ERROR: #N/A']
pkdt = cln.data_filter(pkdt, 'Construction', values)
pkdt = cln.data_filter(pkdt, 'Event Closure', ['Yes'])

pkdt = pkdt.drop('Construction', axis = 1)
pkdt = pkdt.drop('Event Closure', axis = 1)

In [4]:
#group rows with same 'Time' and 'Unitdesc', for other columns, find the sum
pkdt = pkdt.groupby(['Date Time', 'Unitdesc'], as_index = False)['Parking_Spaces', 'Total_Vehicle_Count'].sum()

In [5]:
#find the occupancy and append it to the pkdt
Occupancy = np.minimum(pkdt['Total_Vehicle_Count'] / pkdt['Parking_Spaces'], 1)
pkdt['Occupancy'] = Occupancy
pkdt = pkdt.dropna()
pkdt = pkdt.drop('Total_Vehicle_Count', axis = 1)

C:\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in minimum
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
#retrivev 'hour' column from general datetime
pkdt['Date Time'] = pd.to_datetime(pkdt['Date Time'], format = '%m-%d-%y %H:%M:%S')
times = pd.DatetimeIndex(pkdt['Date Time'])
pkdt['Hour'] = times.hour

#for 'Hour' column, replace 0 with 24
pkdt = pkdt.replace({'Hour': 0}, 24)

In [7]:
#group data by 'hour' and 'Unidesc' and average other columns
pkdt = pkdt.groupby(['Hour', 'Unitdesc'], as_index = False)['Parking_Spaces', 'Occupancy'].mean()

In [8]:
#group data by 'hour' and 'Unidesc' and average other columns
pkdt = pkdt.groupby(['Hour', 'Unitdesc'], as_index = False)['Parking_Spaces', 'Occupancy'].mean()

In [9]:
pkdt

,Hour,Unitdesc,Parking_Spaces,Occupancy
0,1,10TH AVE BETWEEN E PIKE ST AND E PINE ST,40.000000,0.350000
1,1,10TH AVE BETWEEN E UNION ST AND E PIKE ST,20.000000,0.550000
2,1,11TH AVE BETWEEN E PIKE ST AND E PINE ST,29.000000,0.586207
3,1,12TH AVE BETWEEN E MADISON ST AND E PIKE ST,18.000000,0.388889
4,1,12TH AVE BETWEEN E PIKE ST AND E PINE ST,3.000000,1.000000
5,1,13TH AVE BETWEEN E MADISON ST AND E PIKE ST,5.000000,1.000000
6,1,13TH AVE BETWEEN E PIKE ST AND E PINE ST,12.000000,0.500000
7,1,14TH AVE BETWEEN E PIKE ST AND E PINE ST,9.000000,0.444444
8,1,15TH AVE BETWEEN E MADISON ST AND E PINE ST,4.000000,1.000000
9,1,BELMONT AVE BETWEEN E PIKE ST AND E PINE ST,8.000000,1.000000
10,1,BELMONT AVE BETWEEN E UNION ST AND E PIKE ST,15.000000,0.866667
11,1,BOYLSTON AVE BETWEEN E UNION ST AND E PIKE ST,10.000000,1.000000
12,1,BROADWAY BETWEEN E PIKE ST AND E PINE ST,5.000000,1.000000
13,1,BROADWAY BETWEEN E UNION ST AND E PIKE ST,6.000000,1.000000
14,1,E PIKE ST BETWEEN 10TH AVE AND 11TH AVE,17.000000,0.764706
15,1,E PIKE ST BETWEEN 11TH AVE AND 12TH AVE,16.000000,0.937500
16,1,E PIKE ST BETWEEN 12TH AVE AND 13TH AVE,11.000000,0.545455
17,1,E PIKE ST BETWEEN 13TH AVE AND 14TH AVE,18.000000,0.333333
18,1,E PIKE ST BETWEEN BELLEVUE AVE AND CRAWFORD PL,8.000000,0.250000
19,1,E PIKE ST BETWEEN BELMONT AVE AND BOYLSTON AVE,15.000000,0.133333
20,1,E PIKE ST BETWEEN BOYLSTON AVE AND HARVARD AVE,17.000000,0.647059
21,1,E PIKE ST BETWEEN BROADWAY AND 10TH AVE,18.000000,0.611111
22,1,E PIKE ST BETWEEN CRAWFORD PL AND SUMMIT AVE,8.000000,0.500000
23,1,E PIKE ST BETWEEN HARVARD AVE AND BROADWAY,19.000000,0.736842
24,1,E PIKE ST BETWEEN MELROSE AVE AND BELLEVUE AVE,14.000000,0.357143
25,1,E PIKE ST BETWEEN SUMMIT AVE AND BELMONT AVE,13.000000,0.538462
26,1,E PINE ST BETWEEN 10TH AVE AND 11TH AVE,14.000000,0.285714
27,1,E PINE ST BETWEEN 12TH AVE AND 13TH AVE,14.000000,0.285714
28,1,E PINE ST BETWEEN 13TH AVE AND 14TH AVE,10.000000,0.300000
29,1,E PINE ST BETWEEN 14TH AVE AND 15TH AVE,13.000000,0.615385
...,...,...,...,...
18297,24,E THOMAS ST BETWEEN BROADWAY E AND 10TH W AVE E,7.500000,1.000000
18298,24,E THOMAS ST BETWEEN HARVARD AVE E AND BROADWAY E,10.500000,0.428571
18299,24,E UNION ST BETWEEN 10TH AVE AND 11TH AVE,12.333333,0.866667
18300,24,E UNION ST BETWEEN 11TH AVE AND 12TH AVE,7.500000,0.800000
18301,24,E UNION ST BETWEEN BELMONT AVE AND BOYLSTON AVE,12.000000,1.000000
18302,24,E UNION ST BETWEEN BOYLSTON AVE AND HARVARD AVE,8.000000,1.000000
18303,24,E UNION ST BETWEEN BROADWAY AND BROADWAY CT,6.000000,0.822222
18304,24,E UNION ST BETWEEN BROADWAY CT AND 10TH AVE,6.666667,0.733333
18305,24,E UNION ST BETWEEN CRAWFORD PL AND SUMMIT AVE,8.000000,0.833333
18306,24,E UNION ST BETWEEN SENECA ST AND BROADWAY,12.000000,0.666667
18307,24,E UNION ST BETWEEN SUMMIT AVE AND BELMONT AVE,9.333333,1.000000
18308,24,HARVARD AVE BETWEEN E HOWELL ST AND E DENNY WAY,18.000000,0.958333
18309,24,HARVARD AVE BETWEEN E OLIVE ST AND E HOWELL ST,1.000000,0.000000
18310,24,HARVARD AVE BETWEEN E PIKE ST AND E PINE ST,22.000000,0.454545
18311,24,HARVARD AVE BETWEEN E PINE ST AND E OLIVE ST,13.500000,0.944444
18312,24,HARVARD AVE E BETWEEN E DENNY WAY AND E OLIVE WAY,13.500000,1.000000
18313,24,HARVARD AVE E BETWEEN E HARRISON ST AND E REPU...,15.000000,1.000000
18314,24,HARVARD AVE E BETWEEN E MERCER ST AND E ROY E ST,13.500000,1.000000
18315,24,HARVARD AVE E BETWEEN E OLIVE WAY AND E THOMAS ST,28.000000,1.000000
18316,24,HARVARD AVE E BETWEEN E REPUBLICAN ST AND E ME...,10.000000,1.000000
18317,24,HARVARD AVE E BETWEEN E THOMAS ST AND E HARRIS...,28.500000,1.000000
18318,24,MELROSE AVE BETWEEN PIKE ST AND PINE ST,25.000000,0.701389
18319,24,MINOR AVE BETWEEN PIKE ST AND PINE ST,12.000000,0.875000
18320,24,NAGLE PL BETWEEN E HOWELL ST AND E DENNY WAY,7.000000,0.000000
18321,24,NAGLE PL BETWEEN E PINE ST AND E HOWELL ST,36.000000,1.000000
18322,24,NAGLE PL BETWEEN E PINE ST AND E OLIVE ST,18.000000,0.666667
18323,24,PINE ST BETWEEN MINOR AVE AND MELROSE AVE,7.500000,0.600000
18324,24,SUMMIT AVE BETWEEN E PIKE ST AND E PINE ST,18.333333,0.952381
18325,24,SUMMIT AVE BETWEEN E PINE ST AND E OLIVE ST,21.000000,1.000000
18326,24,SUMMIT AVE BETWEEN E UNION ST AND E PIKE ST,12.500000,1.000000

In [10]:
pkdt.to_csv('Occupancy_per_hour.csv')